version: "2.1"
services:
  heimdall:
    image: ghcr.io/linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=
    volumes:
      - ./config:/config
    ports:
      - 81:80
    restart: unless-stopped